/* css styles */
/* Main Colors */

   /* Global Styles */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--off-white);
    color: var(--text-dark);
    line-height: 1.6;
  }
 
  
  
  
  